<div class="navbar-bg navbar-dark" style="height: 100%; display: flex; flex-direction: column;">
  <div class="pb-2" style="width: var(--mud-drawer-width,var(--mud-drawer-width-left))">
    <MudImage Src="img/Logo.jpg" Style="width: var(--mud-drawer-width,var(--mud-drawer-width-left))" />
  </div>
  <MudNavMenu>
    <MudNavLink Icon="@Icons.Material.Filled.Dashboard" Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.DeviceHub" Href="/hosts" Match="NavLinkMatch.Prefix">Hosts</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.Notifications" Href="/notificationrules" Match="NavLinkMatch.Prefix">Notification rules</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.Logout" Href="/account/logout" Match="NavLinkMatch.Prefix">Logout</MudNavLink>
  </MudNavMenu>
</div>