@page "/hosts"
@using PNMT.WebApp.Data;
@using PNMT.WebApp.Models.Forms;
@using PNMTD.Lib.Helper;
@using PNMTD.Lib.Models.Poco;
@inject NavigationManager navigationManager
@inject PNMTDApi _PNTMDApi

<MudContainer>
  <h2>Hosts</h2>

  <p><a href="/host/new">Add Host</a></p>

  <MudDataGrid Items="@Hosts">
    <Columns>
      <TemplateColumn>
        <CellTemplate>
          <a href="/host/@context.Item.Id">@context.Item.Id</a>
        </CellTemplate>
      </TemplateColumn>
      <PropertyColumn Property="h => h.Name" Title="Nr" />
      <PropertyColumn Property="h => h.Location" />
      <PropertyColumn Property="h => h.Location" />
      <PropertyColumn Property="h => h.Id" />
    </Columns>
  </MudDataGrid>
</MudContainer>

@code {
  List<HostForm> Hosts = new List<HostForm>();

  protected override async Task OnInitializedAsync()
  {
    Hosts = (await _PNTMDApi.Hosts.GetAll()).Select(x => x.MapPropertiesTo<HostPoco, HostForm>()).ToList();
  }
}
