.icon-base {
	color: #000000;
	margin-left: 5px;
	margin-right: 5px;
}

	.icon-base:hover {
		color: #0026ff;
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-o-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
	}

.icon-editiable-text {
	font-size: 1rem;
	margin-left: 10px;
}

.icon-base-small {
	font-size: 0.75rem;
}

.icon-base-big {
	font-size: 1.5rem;
	margin-right: 10px;
}

.icon-base-bigger {
	font-size: 2rem;
	margin-right: 10px;
}

.icon-base-some-space {
	margin-right: 5px;
}

.icon-pos-fix {
	vertical-align: sub;
	margin-right: 13px;
	font-size: 1.8rem;
}

.thead-small {
	font-size: 0.8rem;
	font-style: italic;
}

	.thead-small > tr > th {
		color: #6e707e !important;
	}
