.icon-base {
	color: #000000;
	margin-left: 5px;
	margin-right: 5px;
}

.icon-base:hover {
	color: #0026ff;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

