@typeparam TItem

<MudItem xs="4">
  <div class="card @LeftBoarderCss shadow h-100 py-2 ma-1 mt-4">
    <div class="card-body">
      <MudGrid>
        <MudItem xs="10">
          <h2>@Title</h2>
          <p>@Value</p>
        </MudItem>
        <MudItem xs="2" Class="object-right">
          <MudIcon Icon="@Icon" Class="icon-base-bigger" />
        </MudItem>
      </MudGrid>
    </div>
  </div>
</MudItem>

@code {
  [Parameter]
  public String Title { get; set; }

  [Parameter]
  public TItem Value { get; set; }

  [Parameter]
  public String LeftBoarderCss { get; set; } = "border-left-primary";

  // text-success, text-info
  [Parameter]
  public String TitleCss { get; set; } = "text-primary";

  [Parameter]
  public string Icon { get; set; }


}
