@typeparam TItem

<div class="col-xl-3 col-md-6 mb-4">
    <div class="card @LeftBoarderCss shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold @TitleCss text-uppercase mb-1">
                        @Title
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Value</div>
                    </div>
                <div class="col-auto">
                    <i class="@IconCss icon-base-bigger"></i>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public String Title { get; set; }

    [Parameter]
    public TItem Value { get; set; }

    [Parameter]
    public String LeftBoarderCss { get; set; } = "border-left-primary";

    // text-success, text-info
    [Parameter]
    public String TitleCss { get; set; } = "text-primary";

    [Parameter]
    public String IconCss { get; set; } = "bi bi-lightbulb";


}
